{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#start_process_form').submit(function (e) {
                var formData = new FormData($('#start_process_form')[0]);
                formData.delete('csrfmiddlewaretoken');

                $.ajax({
                    url: '/api/video/{{ video_id }}/process/',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Basic {{ token }}'
                    },
                    data: formData,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>
{% endblock %}

{% block title %}
    <title>Start process</title>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/video/{{ video_id }}/process">Processes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Start process for video {{ video_id }}</li>
{% endblock %}

{% block heading %}
    <h1 class="mt-2">Start process for video {{ video_id }}</h1>
{% endblock %}

{% block content %}
    <p>Fill the form for starting the process counting speed of objects in the video by counting real distance of interesting points with camera parameters. Required fields are marked with *</p>
    <form enctype="multipart/form-data" method="post" id="start_process_form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" id="start_process_submit" class="btn btn-primary" value="Start process">
    </form>
{% endblock %}
