<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% block scripts %}
    {% endblock %}
    {% block title %}
        <title>Title</title>
    {% endblock %}
</head>
<body>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            {% endblock %}
        </ul>
    </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
        {% block heading %}
          <h1 class="mt-2">Videos</h1>
        {% endblock %}
          <hr class="mt-0 mb-4">
          {% if messages %}
              <ul class="messages">
              {% for message in messages %}
                  <li class="bg-success text-white">{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
</body>
</html>