{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $.ajax({
                url: '/api/video/',
                type: 'GET',
                dataType: 'json',
                headers: {
                    'Authorization': 'Basic {{ token }}'
                },
                contentType: 'application/json; charset=utf-8',
                success: function(data){
                    for (let video in data) {
                       addVideoToList(data[video]);
                   }
                }
            });

           function addVideoToList(videoObject){
               let videoId = videoObject.id;
               let videoItem = $('<li>', {id: 'video_item_' + videoId, class: "list-group-item"});
               let videoPath = videoObject.path;
               let videoElement = $('<video>', {src: videoPath, width: 320});

               let row = $('<div>', {class: 'row'});
               let leftColumn = $('<div>', {class: 'col-lg-6'});
               leftColumn.append(videoElement);
               row.append(leftColumn);

               let listGroupWithInfo = $('<ul>', {class: 'list-group', style: 'border: none; padding: 0.1rem'});

               let title = $('<strong>').text('Video' + videoId);
               let titleItem = $('<li>', {class: 'list-group-item disabled', style: 'border: none; padding: 0.1rem'});
               titleItem.append(title);
               listGroupWithInfo.append(titleItem);

               let linkToAddProcess = $('<a>', {href: '/video/' + videoId + '/add_process', class: "btn btn-success"}).text('Start process');
               let addProcessItem = $('<li>', {class: 'list-group-item', style: 'border: none; padding: 0.1rem'});
               addProcessItem.append(linkToAddProcess);
               listGroupWithInfo.append(addProcessItem);


               let processes = $('<a>', {href: '/video/' + videoId + '/process', class: "btn btn-primary"}).text('Processes');
               let processesItem = $('<li>', {class: 'list-group-item', style: 'border: none; padding: 0.1rem'});
               processesItem.append(processes);
               listGroupWithInfo.append(processesItem);

               let deleteProcess = $('<a>', {onclick: 'deleteVideo(' + videoId + ')', class: "btn btn-danger"}).text('Delete');
               let deleteProcessItem = $('<li>', {class: 'list-group-item', style: 'border: none; padding: 0.1rem'});
               deleteProcessItem.append(deleteProcess);
               listGroupWithInfo.append(deleteProcessItem);

               let rightColumn = $('<div>', {class: 'col-lg-6'});
               rightColumn.append(listGroupWithInfo);
               row.append(rightColumn);

               let container = $('<div>', {class: 'container'});
               container.append(row);

               videoItem.append(container);
               $('#video_list').append(videoItem);
           }

           $('#upload_video').submit(function(e){
               var formData = new FormData();
               formData.append('video', $('input[type=file]')[0].files[0]);

               $.ajax({
                   url: '/api/video/',
                   data: formData,
                   type: 'POST',
                   headers: {
                    'Authorization': 'Basic {{ token }}'
                   },
                   contentType: false,
                   processData: false,
                   async: false
               });

           });
        });

        function deleteVideo(id){
            var r = confirm("Do you want to delete this video?");
            if (r == true) {
                $.ajax('/api/video/' + id + '/', {
                    type: 'DELETE',
                    headers: {
                        'Authorization': 'Basic {{ token }}'
                    },
                    success: function (data, status, xhr) {
                        $('#video_item_' + id).remove();
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrum-item active" aria-current="page">Home</li>
{% endblock %}
{% block heading %}
    <h1 class="mt-2">Video</h1>
{% endblock %}

{% block content %}
    <p>Required fields are marked with *</p>
    <form enctype="multipart/form-data" method="post" id="upload_video" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" id="upload_video_submit" class="btn btn-primary" value="Upload video" />
    </form>
    <ul id="video_list" class="list-group">
    </ul>
{% endblock %}
