{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block heading %}
    <h1 class="mt-2">Login</h1>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post" id="login_form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" id="login" value="Login">
    </form>
{% endblock %}
