{% extends 'base.html' %}

{% block scripts %}
    <script>
        var mediaFragmentsURIs = [];
        $(document).ready(function(){
            $.ajax({
                url: '/api/video/{{ video_id }}/process/{{ process_id }}/',
                type: 'GET',
                dataType: 'json',
                headers: {
                    'Authorization': 'Basic {{ token }}'
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    let parameter_keys = {
                        'h': ['Height of the camera above road', ' mm'],
                        'alpha': ['Pitch angle of the camera', ' degrees'],
                        'f': ['Focal length', ' mm']
                    };
                    let parameters = $('<dl>');
                    for (parameter in parameter_keys) {
                        let parameterDefinition = $('<dt>').text(parameter_keys[parameter][0]);
                        let parameterDefinitionDescription = $('<dd>').text(data.parameters[parameter] + parameter_keys[parameter][1]);
                        parameters.append(parameterDefinition);
                        parameters.append(parameterDefinitionDescription);
                    }

                    var parameterDefinition = $('<dt>').text('Sensor dimensions');
                    var parameterDefinitionDescription = $('<dd>').text(data.parameters['len_width'] + ' mm x ' + data.parameters['len_height'] + ' mm');
                    parameters.append(parameterDefinition);
                    parameters.append(parameterDefinitionDescription);

                    parameterDefinition = $('<dt>').text('Screen size (px)');
                    parameterDefinitionDescription = $('<dd>').text(data.parameters['width'] + ' x ' + data.parameters['height']);
                    parameters.append(parameterDefinition);
                    parameters.append(parameterDefinitionDescription);

                    parameterDefinition = $('<dt>').text('Principal point coordinates (px)');
                    parameterDefinitionDescription = $('<dd>').text(data.parameters['p_x'] + ', ' + data.parameters['p_y']);
                    parameters.append(parameterDefinition);
                    parameters.append(parameterDefinitionDescription);
                    $('#video_information_metadata').append(parameters);

                    let videoElement = $('<video width="480" controls>');
                    let videoSource = $('<source src="{{ video_path }}" type="video/mp4" />');
                    videoElement.append(videoSource);
                    let videoMetadata = $('<track kind="metadata" src="/annotations/' + data.webVTTFile + '" type="text/webvtt" default>');
                    videoElement.append(videoMetadata);
                    $('#video_information_video').append(videoElement);
                    mediaFragmentsURIs = data.mediaFragmentsURIs;
                    $('#video_information').append('<script' + '>addMetadataToVideo();<' + '/script>');
                }
            });
        });

        function addMetadataToVideo(){
            let video = document.querySelector('video');
            video.addEventListener('loadeddata', function(){
                var paragraph = document.getElementById("par");
                let trackElem = document.querySelector("track");
                let track = trackElem.track;
                track.mode = "hidden";

                let load_data_from_track = function () {
                    let cues = track.activeCues;
                    paragraph.innerHTML = '';
                    for (let index = 0; index < cues.length; index++){
                        let cueObject = JSON.parse(cues[index].text);
                        let cueId = parseInt(cues[index].id);
                        paragraph.innerHTML += mediaFragmentsURIs[cueId - 1] + "<br />";
                        paragraph.innerHTML += "object ID:" + cueObject.objectId + "<br />";
                        paragraph.innerHTML += "speed:" + cueObject.speed + "<br />";
                        paragraph.innerHTML += cueObject.mediaFragmentsURIs[0] + "<br />";
                    }
                    if (cues.length == 0){
                        paragraph.innerHTML = '';
                    }
                };
                if (track.oncuechange !== undefined){
                    track.oncuechange = load_data_from_track;
                } else {
                    video.ontimeupdate = load_data_from_track;
                }
                track.oncuechange
            });
        }


    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/video/{{ video_id }}/process">Processes of video {{ video_id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Process detail</li>
{% endblock %}

{% block title %}
    <title>Detail of process {{ process_id }}</title>
{% endblock %}

{% block heading %}
    <h1 class="mt-2">Detail of process {{ process_id }}</h1>
{% endblock %}

{% block content %}
    <div id="video_information" class="container">
        <div class="row">
            <div id="video_information_video" class="col-lg-8"></div>
            <div id="video_information_metadata" class="col-lg-4"></div>
        </div>
    </div>
    <p id="par" style="min-height: 6rem"></p>
{% endblock %}
