{% extends 'base.html' %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $.ajax({
                url: '/api/video/{{ video_id }}/process',
                type: 'GET',
                dataType: 'json',
                headers: {
                    'Authorization': 'Basic {{ token }}'
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    for (process in data) {
                        let processEntity = data[process];
                        let processId = processEntity.id;
                        let processItem = $('<li>', {id: 'process_item_' + processId, class: 'list-group-item'});
                        let processSpan = $('<span>', {class: 'col-4 col-md-2'}).text('Process ' + processId);
                        processItem.append(processSpan);
                        let processStatus = processEntity.status;
                        if (processStatus == 'Done') {
                            let linkToProcessDetail = $('<a>', {href: '/video/{{ video_id }}/process/' + processId, class: 'col-4 col-md-2 btn btn-primary'}).text('Process detail');
                            processItem.append(linkToProcessDetail);
                        } else {
                            let processStatusSpan = $('<span>', {class: 'col-4 col-md-2'}).text(processStatus)
                            processItem.append(processStatusSpan);
                        }
                        let deleteProcessButton = $('<button>', {onclick: 'deleteProcess(' + processId + ')', class: 'col-4 col-md-2 btn btn-danger'}).text('Delete');
                        processItem.append(deleteProcessButton);
                        $('#process_list').append(processItem);
                    }
                }
            });
        });

        function deleteProcess(id){
            var r = confirm("Do you want to delete this process?");
            if (r == true) {
                $.ajax('/api/video/{{ video_id }}/process/' + id + '/', {
                    type: 'DELETE',
                    headers: {
                        'Authorization': 'Basic {{ token }}'
                    },
                    success: function (data, status, xhr) {
                        $('#process_item_' + id).remove();
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block title %}
    <title>Processes</title>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Processes of video {{ video_id }}</li>
{% endblock %}

{% block heading %}
    <h1 class="mt-2">Processes of video {{ video_id }}</h1>
{% endblock %}

{% block content %}
    <video src="{{ video_path }}" width="480"></video>
    <ul id="process_list" class="list-group">
    </ul>
    <a href="/video/{{ video_id }}/add_process" class="btn btn-success">Start process</a>
{% endblock %}
